#header_search {
    .header_search_form {
        .city_name {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.025em;
            color: #9d9bc9;
            margin-left: 11px;
            transform: translateY(-10px);
            display: block;
        }
        .form_input {
            padding: 12px;
            width: 100%;
            height: 44px;
            background: #ffffff;
            border: 1px solid #e1e9ec;
            box-sizing: border-box;
            border-radius: 4px;
            padding-left: 33px;

            &:focus {
                border: 1px solid #2fcc8b;
            }

            &::placeholder {
                font-style: normal;
                font-weight: 100;
                color: #9d9bc9;
                font-size: 14px;
                letter-spacing: -0.01em;
                color: #9d9bc9;
                margin: 0px 8px;
            }
        }
        .header_search_col {
            position: relative;
            .search_icon {
                position: absolute;
                top: 50%;
                left: 8px;
                transform: translateY(-50%);
                font-size: 22px;
                color: #2b296d;
            }
            .error_message {
                position: relative;
            }
        }
        .form_submit {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 16px;
            width: 100%;
            height: 44px;
            background: #00a79e;
            border: none;
            border-radius: 4px;
            margin: 0px 4px;
        }
        .select_data {
            border: none;
        }
        .select-search__input {
            border: none;
        }
        .value_selected {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.025em;
            color: #9d9bc9;
            margin-left: 16px;
        }
        .form_space {
            width: 1px;
            height: 10px;
            display: block;
            height: 32px;
            background: #e1e9ec;
        }
        .form_button_reset {
            background-color: transparent;
            outline: none;
            padding: 10px 0px;
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                display: flex;
                align-items: center;
                letter-spacing: -0.01em;
                color: #9d9bc9;
                background-color: transparent;
                outline: none;
                border-bottom: solid 1px #9d9bc9;
                padding: 0;
            }
        }
        .form_reset_icon {
            color: #9d9bc9;
            font-size: 14px;
        }
        .form_advanced_search_button {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            align-items: center;
            letter-spacing: -0.01em;
            color: #00948c;
            outline: none;
            border-bottom: solid 1px #00948c;
            background-color: transparent;
            padding: 0;
        }
        .form_filter_count {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1px;

            position: static;
            width: 20px;
            height: 20px;
            left: 0px;
            top: 0px;
            font-size: 12px;
            /* Primary/11 */

            background: #d79800;
            border-radius: 100px;

            /* Inside Auto Layout */

            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 4px;
            color: #fff;
        }
        .form_search_icon {
            color: #00948c;
            font-size: 26px;
            transition: all 0.2s ease;
        }
    }
}

#header_search_advanced {
    padding: 20px;
    background: rgba(240, 252, 255, 0.5);
    .header_search_advanced_col {
        .select-search {
            width: 100% !important;
        }
    }
}
