.cardContainer {
    display: flex;
    .card {
        margin-left: 1rem;
        margin-right: 1rem;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        width: 100%;
        height: auto;
        .title {
            font-size: 2em;
            margin-bottom: 1rem;
        }
        .description {
            font-size: 1em;
        }
        &:hover {
            background: rgb(235, 235, 235);
            cursor: pointer;
        }
    }
}
.product_search_main {
    .product_search_filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        border: solid 1px #e1e9ec;
        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.01em;
            color: #16154e;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        label.product_search_filter_radio {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 4px 0px;
            input {
                display: none;
                &:checked + span {
                    color: #00a79e;
                }
            }
            span {
                font-size: 14px;
                line-height: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                letter-spacing: -0.01em;
                color: #16154e;
                font-style: normal;
                font-weight: normal;
            }
        }
    }
    .product_search_main_title {
        h1 {
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.01em;
            color: #16154e;
            margin: 0px 0px;
        }
    }
    .product_search_main_item_count {
        span {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.01em;
            color: #9d9bc9;
            margin: 0px 0px;
        }
    }

    .product_search_filter_space {
        width: 100%;
        height: 1px;
        background: #e1e9ec;
        margin: 16px 0px;
    }
}
