.topBanner {
    h1 {
        font-weight: 500;
        font-size: 24px;
        color: #16154e;
        margin-bottom: 30px;
    }
}

.pagesTitle {
    font-size: 10px;
    position: relative;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -8px;
        background-image: url('/assets/images/line_about_title.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .title {
        font-size: 2.4em;
        color: #16154e;
        font-weight: 500;
        position: relative;
        text-transform: uppercase;
    }
}

.vision {
    padding-top: 30px;
    p {
        font-size: 14px;
        line-height: 20px;
    }
}

.utilities {
    padding-top: 30px;
    .listSupport {
        margin-top: 16px;
    }
    .ctFlex {
        @media only screen and(min-width: 992px) {
            & {
                flex: 0 0 20%;
            }
        }
    }
}

.supportBox {
    .icon {
        position: relative;
        overflow: hidden;
        padding-top: 100%;
        i {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .text {
        p {
            font-size: 14px;
            font-weight: 500;
            color: #2b296d;
        }
    }
}

.ourTeam {
    padding-top: 30px;
    padding-bottom: 30px;

    &_content {
        .title {
            color: #2b296d;
            font-size: 14px;
            line-height: 20px;
        }

        label {
            font-weight: 500;
            font-size: 14px;
            color: #00948c;
            padding: 8px 0px;
        }
    }

    .listValue {
        display: flex;
        i {
            width: 40px;
            height: 40px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
        }

        .content {
            padding-left: 8px;
            h4 {
                font-weight: 500;
                font-size: 14px;
                color: #16154e;
                text-transform: uppercase;
            }

            p {
                color: #2b296d;
                font-size: 14px;
                line-height: 20px;
                opacity: 0.8;
            }
        }
    }
}
