.topBanner {
    h1 {
        font-weight: 500;
        font-size: 24px;
        color: #16154e;
        margin-bottom: 30px;
    }
    .box {
        border: 1px solid #e1e9ec;
    }

    &_images {
        position: relative;
        overflow: hidden;
        padding-top: 32.5%;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            vertical-align: middle;
        }
    }

    &_boxText {
        .title {
            font-size: 10px;
            text-align: center;
            position: relative;
            width: 100%;
            margin-bottom: 24px;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: -10px;
                background-image: url('/assets/images/line_about.svg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            h1 {
                font-size: 2.4em;
                font-weight: 500;
                color: #00948c;
            }

            p {
                font-size: 1.8em;
                font-weight: 500;
                color: #00948c;
            }
        }

        .content {
            max-width: 920px;
            margin: auto;

            @media only screen and (max-width: 576px) {
                & {
                    padding: 0px 15px;
                }
            }

            ul {
                li {
                    position: relative;
                    color: #2b296d;
                    font-weight: 500;
                    font-size: 14px;
                    padding-left: 24px;
                    margin-bottom: 8px;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        left: 0;
                        top: 1px;
                        background-image: url('/assets/images/uni_icon.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

.listServices {
    padding-top: 30px;

    .listSupport {
        margin-top: 16px;
    }
    .ctFlex {
        @media only screen and(min-width: 992px) {
            & {
                flex: 0 0 20%;
            }
        }
    }
}

.supportBox {
    .icon {
        position: relative;
        overflow: hidden;
        padding-top: 100%;
        i {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .text {
        p {
            font-size: 14px;
            font-weight: 500;
            color: #2b296d;
        }
    }
}

.pagesTitle {
    font-size: 10px;
    position: relative;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -8px;
        background-image: url('/assets/images/line_about_title.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .title {
        font-size: 2.4em;
        color: #16154e;
        font-weight: 500;
        position: relative;
        text-transform: uppercase;
    }
}

.customerGive {
    padding-top: 30px;
    padding-bottom: 30px;
    .listGive {
        li {
            position: relative;
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: unset;
            }

            label {
                position: absolute;
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #7fd3ce;
                font-weight: 500;
                font-size: 14px;
                color: #000;
                top: -3px;
                left: 0;
                z-index: 88;
            }

            h4 {
                position: relative;
                font-weight: 500;
                font-size: 14px;
                color: #2b296d;
                padding: 8px 16px;
                border: 1px solid #e1e9ec;
                display: block;
                margin-left: 27px;
            }
        }
    }
}
