/* ==================================== s margin - left  ==================================== */

.mg_l0 {
    margin-left: 0px !important;
}

.mg_l5 {
    margin-left: 5px !important;
}

.mg_l10 {
    margin-left: 10px !important;
}

.mg_l20 {
    margin-left: 20px !important;
}

.mg_l25 {
    margin-left: 25px !important;
}

.mg_l30 {
    margin-left: 30px !important;
}

.mg_l_5 {
    margin-left: -5px !important;
}

.mg_l_10 {
    margin-left: -10px !important;
}

/* ==================================== e margin - left  ==================================== */

/* ==================================== s margin - right  ==================================== */

.mg_r0 {
    margin-right: 0px !important;
}

.mg_r5 {
    margin-right: 5px !important;
}

.mg_r10 {
    margin-right: 10px !important;
}

.mg_r20 {
    margin-right: 20px !important;
}

.mg_r25 {
    margin-right: 25px !important;
}

.mg_r30 {
    margin-right: 30px !important;
}

.mg_r_5 {
    margin-right: -5px !important;
}

.mg_r_10 {
    margin-right: -10px !important;
}

/* ==================================== e margin - right  ==================================== */

/* ==================================== s margin - top  ==================================== */

.mg_t0 {
    margin-top: 0px !important;
}

.mg_t5 {
    margin-top: 5px !important;
}

.mg_t10 {
    margin-top: 10px !important;
}

.mg_t15 {
    margin-top: 15px !important;
}

.mg_t20 {
    margin-top: 20px !important;
}

.mg_t25 {
    margin-top: 25px !important;
}

.mg_t30 {
    margin-top: 30px !important;
}

.mg_t40 {
    margin-top: 40px !important;
}

.mg_t50 {
    margin-top: 50px !important;
}

.mg_t_5 {
    margin-top: -5px !important;
}

.mg_t_10 {
    margin-top: -10px !important;
}

/* ==================================== e margin - top  ==================================== */

/* ==================================== s margin - mg_bt10  ==================================== */

.mg_bt0 {
    margin-bottom: 0px !important;
}

.mg_bt5 {
    margin-bottom: 5px !important;
}

.mg_bt10 {
    margin-bottom: 10px !important;
}

.mg_bt15 {
    margin-bottom: 15px !important;
}

.mg_bt20 {
    margin-bottom: 20px !important;
}

.mg_bt25 {
    margin-bottom: 25px !important;
}

.mg_bt30 {
    margin-bottom: 30px !important;
}

.mg_bt_5 {
    margin-bottom: -5px !important;
}

.mg_bt_10 {
    margin-bottom: -10px !important;
}

/* ==================================== e margin - bottom  ==================================== */

/* ==================================== s margin - y  ==================================== */

.mg_y0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.mg_y5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.mg_y10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mg_y15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.mg_y20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mg_y25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.mg_y30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

/* ==================================== e margin - y  ==================================== */

/* ==================================== s margin - y  ==================================== */

.mg_x_10 {
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.mg_x_5 {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

.mg_x0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.mg_x5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.mg_x10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.mg_x15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.mg_x20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.mg_x25 {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.mg_x30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

/* ==================================== e margin - y  ==================================== */

/* ==================================== s padding - y  ==================================== */

.pd_y0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.pd_y5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.pd_y10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pd_y15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.pd_y20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.pd_y25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.pd_y30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

/* ==================================== e padding - y  ==================================== */

/* ==================================== s padding - r  ==================================== */

.pd_r0 {
    padding-right: 0px !important;
}

.pd_r5 {
    padding-right: 5px !important;
}

.pd_r10 {
    padding-right: 10px !important;
}

.pd_r15 {
    padding-right: 15px !important;
}

.pd_r20 {
    padding-right: 20px !important;
}

.pd_r25 {
    padding-right: 25px !important;
}

.pd_r30 {
    padding-right: 30px !important;
}

/* ==================================== e padding - r  ==================================== */

/* ==================================== s padding - left  ==================================== */

.pd_l0 {
    padding-left: 0px !important;
}

.pd_l5 {
    padding-left: 5px !important;
}

.pd_l10 {
    padding-left: 10px !important;
}

.pd_l15 {
    padding-left: 15px !important;
}

.pd_l20 {
    padding-left: 20px !important;
}

.pd_l25 {
    padding-left: 25px !important;
}

.pd_l30 {
    padding-left: 30px !important;
}

/* ==================================== e padding - left  ==================================== */

/* ==================================== s padding - x  ==================================== */

.pd_x0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pd_x5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pd_x10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.pd_x15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.pd_x20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.pd_x25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.pd_x30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

/* ==================================== e  padding - x  ==================================== */

/* ==================================== s padding - top  ==================================== */

.pd_t0 {
    padding-top: 0px !important;
}

.pd_t5 {
    padding-top: 5px !important;
}

.pd_t10 {
    padding-top: 10px !important;
}

.pd_t15 {
    padding-top: 15px !important;
}

.pd_t20 {
    padding-top: 20px !important;
}

.pd_t25 {
    padding-top: 25px !important;
}

.pd_t30 {
    padding-top: 30px !important;
}

/* ==================================== e  padding - top  ==================================== */

/* ==================================== s padding - bottom  ==================================== */

.pd_bt0 {
    padding-bottom: 0px !important;
}

.pd_bt5 {
    padding-bottom: 5px !important;
}

.pd_bt10 {
    padding-bottom: 10px !important;
}

.pd_bt15 {
    padding-bottom: 15px !important;
}

.pd_bt20 {
    padding-bottom: 20px !important;
}

.pd_bt25 {
    padding-bottom: 25px !important;
}

.pd_bt30 {
    padding-bottom: 30px !important;
}

.pd_bt35 {
    padding-bottom: 35px !important;
}

.pd_bt40 {
    padding-bottom: 40px !important;
}

.pd_bt45 {
    padding-bottom: 45px !important;
}

.pd_bt50 {
    padding-bottom: 50px !important;
}

/* ==================================== e  padding - bottom  ==================================== */

/* ==================================== s display  ==================================== */

.dp_fl {
    display: flex !important;
}

.dp_n {
    display: none !important;
}

.dp_ib {
    display: inline-block !important;
}

.dp_b {
    display: block !important;
}

/* ==================================== e display  ==================================== */

/* ==================================== s justify-content  ==================================== */

.jc_c {
    justify-content: center !important;
}

.jc_fs {
    justify-content: flex-start !important;
}

.jc_fe {
    justify-content: flex-end !important;
}

.jc_sb {
    justify-content: space-between !important;
}

/* ==================================== e justify-content  ==================================== */

/* ==================================== s align-items  ==================================== */

.ai_fe {
    align-items: flex-end !important;
}

.ai_fs {
    align-items: flex-start !important;
}

.ai_c {
    align-items: center !important;
}

/* ==================================== e align-items  ==================================== */

/* ==================================== s flex-wrap  ==================================== */

.fw_w {
    flex-wrap: wrap !important;
}

.fw_nw {
    flex-wrap: nowrap !important;
}

/* ==================================== e flex-wrap  ==================================== */

/* ==================================== s width %  ==================================== */

.width5 {
    width: 5% !important;
}

.width7 {
    width: 7% !important;
}

.width10 {
    width: 10% !important;
}

.width13 {
    width: 13% !important;
}

.width15 {
    width: 15% !important;
}

.width20 {
    width: 20% !important;
}

.width22 {
    width: 22% !important;
}

.width25 {
    width: 25% !important;
}

.width24 {
    width: 25% !important;
}

.width30 {
    width: 30% !important;
}

.width35 {
    width: 35% !important;
}

.width40 {
    width: 40% !important;
}

.width45 {
    width: 45% !important;
}

.width50 {
    width: 50% !important;
}

.width55 {
    width: 55% !important;
}

.width60 {
    width: 60% !important;
}

.width65 {
    width: 65% !important;
}

.width70 {
    width: 70% !important;
}

.width75 {
    width: 75% !important;
}

.width80 {
    width: 80% !important;
}

.width85 {
    width: 85% !important;
}

.width90 {
    width: 90% !important;
}

.width95 {
    width: 95% !important;
}

.width100 {
    width: 100% !important;
}

/* ==================================== e width %  ==================================== */

.fs_14 {
    font-size: 14px !important;
}

/* ==================================== s border-bottom %  ==================================== */

.bd_bt {
    border-bottom: solid 1px #edf1f7 !important;
}

/* ==================================== e border-bottom %  ==================================== */

.ta_c {
    text-align: center !important;
}

.ta_l {
    text-align: left !important;
}

.ta_r {
    text-align: right !important;
}

.md-layout.md-gutter {
    margin-right: -15px;
    margin-left: -15px;
}

.md-layout.md-gutter>.md-layout-item {
    padding-right: 15px;
    padding-left: 15px;
}

/* ====================================  input  ==================================== */

.pointer {
    cursor: pointer;
}

.form_control_ip {
    width: 100%;
    padding: 16px;
    height: 45px;
    background: #f7f9fc;
    border-radius: 5px;
    border: 1px solid #edf1f7;
    color: #333;
    outline: none;
}

a, input, button {
    outline: none;
}

/* ====================================  input  ==================================== */

.md-dialog-container {
    overflow: visible;
    max-height: 100%;
}

/* overwrite  md */

.md-field {
    min-height: 40px;
}

.multiselect__option--selected {
    background: #448aff !important;
    color: #fff !important;
}

.btn_main {
    background: #678cff;
    border-radius: 6px;
    border: solid 1px;
    height: 40px !important;
    margin: 0;
    font-weight: bold;
}

.btn_main .md-button-content {
    padding: 10px 20px;
}

.btn_bgr_blue {
    background-color: #678cff !important;
    border-color: #678cff !important;
}

.btn_bgr_green {
    background-color: #00d68f !important;
    border-color: #00d68f !important;
}

.btn_bgr_transparent {
    background-color: transparent !important;
    box-shadow: none !important;
}

.btn_color_green {
    color: #00d68f !important;
}

.btn_color_blue {
    color: #678cff !important;
}

.btn_border_green {
    border-color: #00d68f !important;
}

.btn_border_blue {
    border-color: #678cff !important;
}

.btn_color_white {
    color: #fff !important;
}

.btn_disabled {
    background-color: #b4b7be !important;
    color: #fff !important;
    border-color: #b4b7be !important;
}

.btn_cancelled {
    background-color: #ff3d71 !important;
    color: #fff !important;
    border-color: #ff3d71 !important;
}

.btn_link {
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    flex-wrap: wrap;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
}

.btn_link_md {
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 9px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    flex-wrap: wrap;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    transition: all 0.4s ease;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.form-col {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.form-row .error_message {
    color: #f00;
    position: absolute;
    top: 100%;
    font-size: 12px;
}

.error_message {
    color: #f00;
    font-size: 12px;
}

.form-row .invalid-feedback {
    position: absolute;
    font-size: 12px;
}

.form-row label {
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}

.required {
    color: #f00;
}

.form-row .form-input {
    width: 100%;
    padding: 16px;
    height: 45px;
    background: #f7f9fc;
    border-radius: 5px;
    border: 1px solid #edf1f7;
    color: #333;
    outline: none;
}

.form-row .form-input::placeholder {
    opacity: 0.8;
}

.multiselect__single {
    padding-left: 5px;
    margin-bottom: 8px;
    font-family: inherit;
    font-size: 16px;
    touch-action: manipulation;
}

.multiselect__placeholder {
    padding-left: 5px;
    margin-bottom: 8px;
    font-size: 16px;
    touch-action: manipulation;
    padding-top: 0 !important;
}

.multiselect__tags {
    padding: 11px 40px 2px 8px;
}

.md-autocomplete {
    padding: 0 !important;
    margin: 0;
}

.md-autocomplete::after {
    content: none;
}

.md-autocomplete label {
    top: 50%;
    transform: translateY(-50%);
}

.multiselect__content-wrapper {
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}

.input_money {
    width: 100%;
    position: relative;
}

.input_money .input_money_format {
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    top: 0;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
}

.btn_create {
    height: 45px;
    background: #00d68f;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff !important;
    font-weight: bold;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    transition: all 0.4s ease !important;
}

.btn_create:hover {
    background-color: #1fbb87;
}

.select-search {
    max-width: 100% !important;
}

.select-search .select-search__input {
    height: 44px;
    box-shadow: none;
    background: #FFFFFF;
    border: 1px solid #E1E9EC;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.select-search .select-search__input::placeholder {
    color: #9D9BC9;
}

#pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: #BDC6D3;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #16154E;
    transition: all 0.2s ease;
}

#pagination a:hover {
    background-color: #FDB913;
    color: #fff;
}

.pagination_main {
    margin: 0 8px;
}

.pagination_main li {
    margin: 0 8px;
}

#pagination .pagination_main li a.current {
    background-color: #FDB913 !important;
    color: #fff;
}

.header_search_form_select_data .select-search__input {
    border: none;
    border-radius: 0;
    height: 25px;
}

.form_check_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 15px;
}

.form_check_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form_check_box .form_check_input {
    border: solid 1.5px #9D9BC9;
    appearance: none;
    width: 16px;
    height: 16px;
    background: none;
    border-radius: 4px;
    margin-right: 7px;
    position: relative;
}

.form_check_box span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #9D9BC9;
}

.form_check_box .form_check_input:checked {
    border: solid 1.5px #00A79E;
}

.form_check_box .form_check_input:checked+span {
    color: #00A79E;
}

.form_check_box .form_check_input:checked:after {
    content: '';
    position: absolute;
    background-color: #00A79E;
    width: 10px;
    height: 2px;
    transform: rotate(-50deg);
    left: 4px;
    top: 6px;
}

.form_check_box .form_check_input:checked::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 2px;
    background-color: #00A79E;
    border-radius: 4px;
    transform: rotate(45deg);
    left: 1px;
    top: 7px;
}

.form_check_box .form_check_label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.select-search {
    width: 100% !important;
}

#search_header_search_advanced__VvhAP {
    /* overflow: hidden; */
    background: unset !important;
    padding: 0 !important;
}

#search_header_search_advanced__VvhAP .slide-up, #search_header_search_advanced__VvhAP .slide-down {
    transform-origin: 100% 0%;
    transform: rotateX(90deg);
    transition: .25s;
    padding: 0px;
    background: rgba(240, 252, 255, 0.5);
    max-height: 0;
}

#search_header_search_advanced__VvhAP .slide-down {
    transform: rotate(0);
    max-height: 100%;
    padding: 20px;
}

@media only screen and (max-width: 576px) {
    #search_header_search_advanced__VvhAP .slide-down {
        padding: 20px 0px;
    }
}

.rc-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc-pagination li:hover a {
    color: #fff;
    background: #FDB913;
}

.rc-pagination li {
    margin-right: 8px;
}

.rc-pagination li:last-child {
    margin-right: unset;
}

.rc-pagination li a {
    font-size: 14px;
    color: #16154E;
    width: 30px;
    height: 30px;
    background-color: #BDC6D3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s;
}

.rc-pagination li .rc-pagination-item-link {
    border: none;
    outline: none;
    background: none;
}

.rc-pagination li:first-child .rc-pagination-item-link::after {
    content: "\f104";
    font-family: "fontawesome";
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.rc-pagination li:last-child .rc-pagination-item-link::after {
    content: "\f105";
    font-family: "fontawesome";
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.rc-pagination li.rc-pagination-item-active a {
    color: #fff;
    background: #FDB913;
}

.rc-pagination li.rc-pagination-jump-next .rc-pagination-item-link::after, .rc-pagination li.rc-pagination-jump-prev .rc-pagination-item-link::after {
    display: block;
    content: "...";
}

.rc-pagination {
    margin-top: 24px;
    padding-bottom: 32px;
}

div#alert__ {
    position: fixed;
    right: 20px;
    z-index: 100;
    top: 20px;
}

.status-box.pending {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px 8px;
    position: static;
    background: #FDB913;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    white-space: nowrap;
    font-size: 12px;
}

.status-box.cancelled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    position: static;
    left: 81px;
    top: 0px;
    background: #EB5757;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.status-box.pending, .status-box.cancelled, .status-box.pending {
    width: auto !important;
    height: auto !important;
}

.search_form_col_error_message {
    position: absolute;
    top: 100%;
}

#header_search_form_mobile {
    width: 100%;
}

#header_search_form_mobile .header_search_form_row_mobile {
    width: 100%;
    position: relative;
}

#header_search_form_mobile .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    left: 5px;
}

#header_search_form_mobile .header_search_input_mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 4px 6px 27px;
    width: 100%;
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FDB913;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FDB913;
}

#header_search_form_mobile .header_search_input_mobile::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #FDB913;
}

.user-profile .col-user-l-3 {
    background: #fff;
    box-shadow: none;
    position: relative;
    z-index: auto;
    border-right: solid 2px rgba(89, 91, 138, 0.1);
}

.btn_submit {
    width: 130px !important;
}

.btn_submit .spinner-border {
    width: 25px;
    height: 25px;
}

.select_people_count {
    width: 100%;
}

.select_people_count .css-1s2u09g-control {
    border-color: transparent;
}

.select_people_count .css-1s2u09g-control:hover {
    border-color: transparent;
}

.select_people_count .css-1pahdxg-control {
    border-color: transparent !important;
    box-shadow: none !important;
}

.select_people_count .css-1pahdxg-control:hover {
    border-color: transparent !important;
}

.select_people_count .css-14el2xx-placeholder {
    font-weight: 500;
    font-size: 18px;
    color: #16154E;
}

.select_people_count .css-319lph-ValueContainer {
    padding: 0 !important;
}

.select_people_count .css-1okebmr-indicatorSeparator {
    display: none;
}