.the_content {
    img {
        width: 100%;
        height: auto;
    }
    h2,
    h3,
    h4 {
        font-weight: bold;
        color: #666;
        margin-bottom: 1rem;
    }
    h6 {
        font-size: 16px;
    }
    h5 {
        font-size: 18px;
    }
    h4 {
        font-size: 22px;
    }
    h3 {
        font-size: 25px;
    }
    h2 {
        font-size: 27px;
        line-height: 1.5;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        color: #585863;
        margin-bottom: 1rem;
    }
    ul {
        list-style: disc;
        padding-left: 18px;
        padding-bottom: 5px;
        li {
            color: #666;
            line-height: 1.5;
            margin-bottom: 10px;
            a {
                color: #ff5912;
            }
        }
    }
    ol {
        list-style: decimal;
        padding-left: 18px;
        padding-bottom: 5px;
        li {
            color: #666;
            line-height: 1.5;
            margin-bottom: 10px;
            a {
                color: #ff5912;
            }
        }
    }
    blockquote {
        padding: 10px 20px;
        margin: 0 0 20px;
        border-left: 5px solid #eb2b2d;
        p {
            margin: 0 !important;
        }
    }
    code {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        font-size: 0.85rem;
        color: #e83e8c;
    }
    table > tbody > tr > td,
    table > tbody > tr > th,
    table > tfoot > tr > td,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > thead > tr > th {
        border: 1px solid #ddd;
        padding: 7px 10px;
    }
    iframe {
        margin: auto;
    }
    .syntaxhighlighter {
        padding: 10px 0;
    }
}
/*04 keyframes */

@keyframes namdz {
    0% {
        animation: namdz 1s infinite ease-in-out;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }
}
