.footer {
    &-body {
        background: #2b296d;
        padding: 32px 0px;
        &__logo {
            max-width: 113px;
            img {
                width: 100%;
                vertical-align: middle;
            }
        }

        &__sub-logo {
            padding-top: 24px;
            color: #bdc6d3;
            font-size: 14px;
            line-height: 24px;
        }

        &__social-media {
            padding-top: 24px;
            ul {
                display: flex;
                align-items: center;

                li {
                    margin-right: 16px;

                    &:last-child {
                        margin-right: unset;
                    }

                    a {
                        width: 32px;
                        height: 32px;
                        font-size: 17px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #fffcf344;
                        color: #fdb913;
                        border-radius: 100%;
                    }
                }
            }
        }

        &__link {
            &--tile {
                color: #ffffff;
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 24px;
            }

            ul {
                &.contact {
                    li {
                        margin-bottom: 24px;
                        &:last-child {
                            margin-bottom: unset;
                        }
                        a {
                            display: flex;
                            align-items: center;

                            span {
                                padding-left: 8px;
                            }
                        }
                    }
                }
                li {
                    margin-bottom: 12px;
                    transition: 0.25s;

                    &:hover {
                        a {
                            color: #fdb913;
                        }
                    }

                    &:last-child {
                        margin-bottom: unset;
                    }
                    a {
                        color: #bdc6d3;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    &-end {
        background: #16154e;
        padding: 23px 0px;
        font-size: 14px;
        color: #f4f7fe;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
