.footer-body {
  background: #2b296d;
  padding: 32px 0px; }
  .footer-body__logo {
    max-width: 113px; }
    .footer-body__logo img {
      width: 100%;
      vertical-align: middle; }
  .footer-body__sub-logo {
    padding-top: 24px;
    color: #bdc6d3;
    font-size: 14px;
    line-height: 24px; }
  .footer-body__social-media {
    padding-top: 24px; }
    .footer-body__social-media ul {
      display: flex;
      align-items: center; }
      .footer-body__social-media ul li {
        margin-right: 16px; }
        .footer-body__social-media ul li:last-child {
          margin-right: unset; }
        .footer-body__social-media ul li a {
          width: 32px;
          height: 32px;
          font-size: 17px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fffcf344;
          color: #fdb913;
          border-radius: 100%; }
  .footer-body__link--tile {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 24px; }
  .footer-body__link ul.contact li {
    margin-bottom: 24px; }
    .footer-body__link ul.contact li:last-child {
      margin-bottom: unset; }
    .footer-body__link ul.contact li a {
      display: flex;
      align-items: center; }
      .footer-body__link ul.contact li a span {
        padding-left: 8px; }
  .footer-body__link ul li {
    margin-bottom: 12px;
    transition: 0.25s; }
    .footer-body__link ul li:hover a {
      color: #fdb913; }
    .footer-body__link ul li:last-child {
      margin-bottom: unset; }
    .footer-body__link ul li a {
      color: #bdc6d3;
      font-size: 14px;
      line-height: 24px; }
.footer-end {
  background: #16154e;
  padding: 23px 0px;
  font-size: 14px;
  color: #f4f7fe;
  display: flex;
  align-items: center;
  justify-content: center; }

/*# sourceMappingURL=footer.css.map */
