#header.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
  animation: jump_sticky 0.4s forwards; }
  #header.sticky .header-search-pages {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(66, 66, 66, 0.4);
    box-shadow: 0px 1px 10px 0px rgba(66, 66, 66, 0.4); }
  @media only screen and (max-width: 886px) {
    #header.sticky {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #header.sticky .logo-responsive {
        display: flex;
        order: 1;
        padding-left: 15px; }
        #header.sticky .logo-responsive img {
          vertical-align: middle; }
      #header.sticky .header-main {
        order: 2; }
        #header.sticky .header-main .logo {
          display: none; }
      #header.sticky .header-search-mobile {
        order: 1;
        width: 80%; } }

@keyframes jump_sticky {
  0% {
    top: -80%;
    opacity: 0.6; }
  100% {
    top: 0;
    opacity: 1; } }
.header-main {
  background: #2b296d;
  border-bottom: 5px solid #FDB913; }
  .header-main .logo {
    max-width: 140px; }
    .header-main .logo img {
      width: 100%;
      object-fit: cover;
      vertical-align: middle; }
  .header-main .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header-main .nav-left {
    display: flex;
    align-items: center; }
    .header-main .nav-left .main-menu {
      display: flex;
      align-items: center; }
      .header-main .nav-left .main-menu li {
        margin-right: 30px;
        line-height: 28px; }
        .header-main .nav-left .main-menu li.has-child {
          position: relative; }
          .header-main .nav-left .main-menu li.has-child a {
            display: flex;
            align-items: center; }
            .header-main .nav-left .main-menu li.has-child a::after {
              content: '\f107';
              font-family: 'fontawesome';
              display: block;
              padding-left: 4px; }
          .header-main .nav-left .main-menu li.has-child:hover .drop-menu {
            opacity: 1;
            visibility: visible;
            z-index: 99; }
          .header-main .nav-left .main-menu li.has-child .drop-menu {
            position: absolute;
            width: 200px;
            height: auto;
            padding: 16px;
            background: #fff;
            z-index: -555;
            opacity: 0;
            visibility: hidden; }
            .header-main .nav-left .main-menu li.has-child .drop-menu li {
              line-height: 30px; }
              .header-main .nav-left .main-menu li.has-child .drop-menu li:hover a {
                color: #fdb913; }
              .header-main .nav-left .main-menu li.has-child .drop-menu li a {
                color: #2b296d; }
                .header-main .nav-left .main-menu li.has-child .drop-menu li a::after {
                  display: none; }
        .header-main .nav-left .main-menu li.active a {
          color: #FDB913; }
        .header-main .nav-left .main-menu li:hover a {
          color: #FDB913; }
        .header-main .nav-left .main-menu li:last-child {
          margin-right: unset; }
        .header-main .nav-left .main-menu li a {
          color: #fff;
          transition: 0.25s;
          font-size: 18px;
          font-weight: 500;
          text-decoration: none; }
  .header-main .nav-right .mobile-bars {
    display: none;
    align-items: center; }
    .header-main .nav-right .mobile-bars button {
      border: none;
      outline: none;
      background: none;
      margin: 0;
      color: #fdb913;
      font-size: 17px;
      display: inline-flex;
      align-items: center;
      justify-content: center; }
      .header-main .nav-right .mobile-bars button img {
        width: 20px;
        height: 18px;
        object-fit: contain; }
  .header-main .nav-right .respo-recont .main-menu {
    display: none; }
    .header-main .nav-right .respo-recont .main-menu li {
      line-height: 28px; }
      .header-main .nav-right .respo-recont .main-menu li:hover a {
        color: #FDB913; }
      .header-main .nav-right .respo-recont .main-menu li:first-child {
        display: flex;
        align-items: center;
        justify-content: flex-end; }
      .header-main .nav-right .respo-recont .main-menu li.has-child {
        position: relative; }
        .header-main .nav-right .respo-recont .main-menu li.has-child a {
          position: relative; }
        .header-main .nav-right .respo-recont .main-menu li.has-child .drop-menu {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.25s ease-out; }
          .header-main .nav-right .respo-recont .main-menu li.has-child .drop-menu li a {
            color: #16154e; }
            .header-main .nav-right .respo-recont .main-menu li.has-child .drop-menu li a:hover {
              color: #fdb913; }
          .header-main .nav-right .respo-recont .main-menu li.has-child .drop-menu.open {
            margin-top: 0%;
            opacity: 1;
            visibility: visible;
            transition: 0.25s; }
        .header-main .nav-right .respo-recont .main-menu li.has-child .toggle_menu {
          width: 20px;
          height: 20px;
          position: absolute;
          right: 6px;
          top: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #16154e;
          font-size: 17px;
          transition: 0.25s;
          transform-origin: 50%, 50%; }
          .header-main .nav-right .respo-recont .main-menu li.has-child .toggle_menu.active {
            transform: rotateZ(90deg);
            color: #fdb913; }
      .header-main .nav-right .respo-recont .main-menu li .close-nav {
        border: none;
        outline: none;
        background: none;
        margin: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .header-main .nav-right .respo-recont .main-menu li .close-nav img {
          object-fit: cover; }
      .header-main .nav-right .respo-recont .main-menu li:last-child {
        margin-right: unset; }
      .header-main .nav-right .respo-recont .main-menu li a,
      .header-main .nav-right .respo-recont .main-menu li button {
        color: #fff;
        transition: 0.25s;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        width: 100%;
        display: block;
        padding: 5px 5px 5px 17px;
        border: none;
        outline: none;
        background: unset;
        text-align: left; }

.user-unauthorize-header {
  display: flex;
  align-items: center; }
  .user-unauthorize-header li::before {
    content: '/';
    font-size: 14px;
    padding: 0px 4px;
    color: #fff; }
  .user-unauthorize-header li a {
    color: #fff;
    font-size: 14px;
    transition: 0.25s;
    text-decoration: none; }
    .user-unauthorize-header li a:hover {
      color: #FDB913; }
  .user-unauthorize-header li:first-child::before {
    display: none; }
  .user-unauthorize-header li:last-child {
    display: none; }

.user-authorize-header {
  display: flex;
  align-items: center; }
  .user-authorize-header li {
    margin-right: 17px;
    position: relative; }
    .user-authorize-header li:hover .drop-down {
      display: block; }
    .user-authorize-header li:hover .drop-cart {
      display: block; }
    .user-authorize-header li:last-child {
      margin-right: unset; }
    .user-authorize-header li .drop-down {
      position: absolute;
      display: none;
      width: 335px;
      height: auto;
      padding: 16px;
      background: #fff;
      left: -220px;
      z-index: 99;
      border-radius: 6px; }
      .user-authorize-header li .drop-down .media {
        align-items: center; }
        .user-authorize-header li .drop-down .media img {
          width: 60px;
          height: 60px;
          object-fit: cover;
          border-radius: 100%; }
        .user-authorize-header li .drop-down .media-body .title {
          color: #000000;
          font-weight: 500;
          font-size: 18px;
          line-height: 28px; }
        .user-authorize-header li .drop-down .media-body .email {
          color: #277ff5;
          font-size: 16px;
          line-height: 24px;
          width: 67%;
          overflow: hidden;
          text-overflow: ellipsis; }
      .user-authorize-header li .drop-down .list-action {
        border-top: 1px solid #e1e9ec;
        padding-top: 12px;
        margin-top: 16px; }
        .user-authorize-header li .drop-down .list-action ul li {
          padding: 4px 8px 4px 0px;
          margin: 0;
          line-height: 1.5; }
          .user-authorize-header li .drop-down .list-action ul li.desktop-menu {
            display: none; }
          .user-authorize-header li .drop-down .list-action ul li.responsive-menu {
            display: flex; }
          .user-authorize-header li .drop-down .list-action ul li .switch-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #9d9bc9;
            border: none;
            outline: none;
            background: none;
            transition: 0.25s;
            position: relative;
            padding: 0;
            width: 100%; }
            .user-authorize-header li .drop-down .list-action ul li .switch-link:hover {
              color: #00a79e; }
              .user-authorize-header li .drop-down .list-action ul li .switch-link:hover img {
                filter: invert(62%) sepia(74%) saturate(5300%) hue-rotate(146deg) brightness(93%) contrast(101%); }
            .user-authorize-header li .drop-down .list-action ul li .switch-link.active {
              color: #00a79e; }
              .user-authorize-header li .drop-down .list-action ul li .switch-link.active img {
                filter: invert(62%) sepia(74%) saturate(5300%) hue-rotate(146deg) brightness(93%) contrast(101%); }
            .user-authorize-header li .drop-down .list-action ul li .switch-link span {
              padding-left: 4px; }
            .user-authorize-header li .drop-down .list-action ul li .switch-link::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: #fff;
              z-index: 69;
              opacity: 0; }
          .user-authorize-header li .drop-down .list-action ul li:last-child .switch-link {
            color: #eb5757; }
            .user-authorize-header li .drop-down .list-action ul li:last-child .switch-link::after {
              display: none; }
            .user-authorize-header li .drop-down .list-action ul li:last-child .switch-link:hover {
              color: #00a79e; }
              .user-authorize-header li .drop-down .list-action ul li:last-child .switch-link:hover img {
                filter: unset; }
    .user-authorize-header li .drop-cart {
      font-size: 10px;
      width: 375px;
      border-radius: 6px;
      position: absolute;
      display: none;
      z-index: 99;
      background: #fff;
      left: -220px; }
      .user-authorize-header li .drop-cart__title {
        font-size: 1.8em;
        font-weight: 500;
        color: #16154e;
        padding: 8px 16px;
        border-bottom: 1px solid #e1e9ec; }
      .user-authorize-header li .drop-cart__content {
        padding: 0px 16px; }
        .user-authorize-header li .drop-cart__content--box {
          padding: 12px 0px; }
          .user-authorize-header li .drop-cart__content--box .title h5 {
            color: #16154e;
            font-weight: 500;
            font-size: 14px; }
          .user-authorize-header li .drop-cart__content--box .title ul {
            display: flex;
            align-items: center; }
            .user-authorize-header li .drop-cart__content--box .title ul li {
              font-weight: 500;
              font-size: 12px;
              color: #9d9bc9;
              position: relative;
              margin-right: 8px;
              padding-left: 8px; }
              .user-authorize-header li .drop-cart__content--box .title ul li:first-child {
                padding-left: unset; }
              .user-authorize-header li .drop-cart__content--box .title ul li:last-child {
                margin-right: unset; }
              .user-authorize-header li .drop-cart__content--box .title ul li::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 1px;
                height: 12px;
                transform: translateY(-50%);
                background: #e1e9ec; }
          .user-authorize-header li .drop-cart__content--box .cart-box {
            margin-top: 8px; }
            .user-authorize-header li .drop-cart__content--box .cart-box .row.no-gutters {
              margin-left: -8px;
              margin-right: -8px; }
            .user-authorize-header li .drop-cart__content--box .cart-box .row.no-gutters > .col, .user-authorize-header li .drop-cart__content--box .cart-box .row.no-gutters > [class*='col-'] {
              padding-left: 8px;
              padding-right: 8px; }
            .user-authorize-header li .drop-cart__content--box .cart-box__images {
              width: 100%;
              position: relative;
              overflow: hidden;
              padding-top: 56.3%; }
              .user-authorize-header li .drop-cart__content--box .cart-box__images img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0; }
            .user-authorize-header li .drop-cart__content--box .cart-box__info .title {
              font-weight: 500;
              font-size: 14px;
              color: #16154e; }
            .user-authorize-header li .drop-cart__content--box .cart-box__info .price {
              font-weight: 500;
              font-size: 14px;
              color: #16154e; }
            .user-authorize-header li .drop-cart__content--box .cart-box__info .area {
              padding-top: 16px;
              font-size: 14px;
              color: #9d9bc9; }
            .user-authorize-header li .drop-cart__content--box .cart-box__info .cart-none {
              font-size: 14px;
              color: #9d9bc9; }
      .user-authorize-header li .drop-cart__action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 8px 16px;
        border-top: 1px solid #e1e9ec; }
        .user-authorize-header li .drop-cart__action .time {
          position: relative;
          font-size: 14px;
          line-height: 20px;
          color: #d79800;
          display: flex;
          align-items: center; }
          .user-authorize-header li .drop-cart__action .time::before {
            content: '\f017';
            font-family: 'fontawesome';
            font-size: 16px;
            color: #fdb913;
            padding-right: 4px; }
        .user-authorize-header li .drop-cart__action .btn-checkout {
          width: max-content;
          height: 28px;
          border: none;
          outline: none;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px 28px;
          font-weight: 500;
          font-size: 14px;
          color: #fff;
          background: #00a79e;
          border-radius: 4px; }
          .user-authorize-header li .drop-cart__action .btn-checkout.disable {
            background: #bdc6d3; }
    .user-authorize-header li a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      position: relative;
      background: #fffcf3;
      border-radius: 100%; }
      .user-authorize-header li a img {
        object-fit: contain; }
      .user-authorize-header li a .noti {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #FDB913;
        font-weight: bold;
        font-size: 10px;
        background-color: #fdb913;
        color: #16154E;
        right: -10px;
        top: -8px; }

.header-search-pages {
  background-color: #fff;
  position: relative;
  z-index: 40;
  border: 1px solid #e8e8e8; }
  .header-search-pages .css-1okebmr-indicatorSeparator {
    display: none !important; }
  .header-search-pages .css-b62m3t-container {
    transform: translateY(2px);
    font-size: 14px !important; }
  .header-search-pages .css-14el2xx-placeholder {
    height: 36px;
    color: #16154e !important;
    font-size: 14px !important; }
  .header-search-pages .css-1pahdxg-control {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    z-index: 999; }
    .header-search-pages .css-1pahdxg-control > div {
      border: none !important;
      outline: none !important; }
    .header-search-pages .css-1pahdxg-control input {
      outline: none !important; }
  .header-search-pages .css-14dclt2-Input::placeholder {
    height: 36px;
    color: #16154e;
    font-size: 14px; }
  .header-search-pages .css-1s2u09g-control {
    border: none;
    outline: none; }
  .header-search-pages .search_header_search_form__5ppNZ .form-row {
    margin-left: -6px;
    margin-right: -6px; }
  .header-search-pages__select-box {
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
    z-index: 999999; }
    .header-search-pages__select-box:nth-child(1) {
      flex: 0 0 28%; }
    .header-search-pages__select-box:nth-child(2), .header-search-pages__select-box:nth-child(3) {
      flex: 0 0 15.16%; }
    .header-search-pages__select-box:nth-child(4) {
      flex: 0 0 6.15%; }
    .header-search-pages__select-box:nth-child(5) {
      flex: 0 0 16%; }
    .header-search-pages__select-box:nth-child(6) {
      flex: 0 0 19%; }

.header-search-mobile {
  padding: 6px 0px;
  display: none; }
  .header-search-mobile .btn-open-search-mb {
    width: 100%;
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fdb913;
    outline: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 6px 8px; }
    .header-search-mobile .btn-open-search-mb i {
      width: 15px;
      height: 15px;
      display: block;
      background-image: url("../../images/search-icon-mb.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .header-search-mobile .btn-open-search-mb span {
      display: block;
      padding-left: 8px;
      color: #fdb913;
      font-size: 14px; }
  .header-search-mobile .search-mb-pop-up {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999999999999;
    overflow-y: auto; }
    .header-search-mobile .search-mb-pop-up .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0px; }
      .header-search-mobile .search-mb-pop-up .title button {
        border: none;
        outline: none;
        background: none;
        font-size: 20px; }
      .header-search-mobile .search-mb-pop-up .title span {
        font-size: 14px;
        color: #2b296d; }
    .header-search-mobile .search-mb-pop-up .search-mb-form {
      margin-top: 16px; }
      .header-search-mobile .search-mb-pop-up .search-mb-form .input-box {
        position: relative;
        margin-bottom: 8px; }
        .header-search-mobile .search-mb-pop-up .search-mb-form .input-box.slide-up, .header-search-mobile .search-mb-pop-up .search-mb-form .input-box.slide-down {
          transform-origin: 100% 0%;
          transform: rotateX(90deg);
          transition: 0.25s;
          padding: 0px;
          max-height: 0; }
        .header-search-mobile .search-mb-pop-up .search-mb-form .input-box.slide-down {
          transform: rotate(0);
          max-height: 100%; }
        .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .advance-select {
          margin-bottom: 8px; }
          .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .advance-select.has-bg {
            background: rgba(242, 242, 242, 0.8);
            backdrop-filter: blur(15px);
            padding: 20px; }
          .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .advance-select .filter-title {
            font-weight: 500;
            font-size: 14px;
            color: #16154e;
            margin-bottom: 20px; }
          .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .advance-select .filter-utilities {
            display: flex;
            flex-wrap: wrap; }
        .header-search-mobile .search-mb-pop-up .search-mb-form .input-box.has-stick {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 15px;
          z-index: 999; }
          .header-search-mobile .search-mb-pop-up .search-mb-form .input-box.has-stick .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%; }
          .header-search-mobile .search-mb-pop-up .search-mb-form .input-box.has-stick button {
            border: none;
            outline: none;
            height: 44px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center; }
            .header-search-mobile .search-mb-pop-up .search-mb-form .input-box.has-stick button.btn-reset-form {
              border: 1px solid #e1e9ec;
              width: 27.6%;
              font-weight: 500;
              font-size: 14px;
              color: #9d9bc9;
              background: #fff; }
            .header-search-mobile .search-mb-pop-up .search-mb-form .input-box.has-stick button.btn-submit {
              width: 66.5%;
              font-weight: 500;
              font-size: 14px;
              color: #fff;
              background: #00a79e; }
        .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .form-control {
          height: 44px; }
        .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .css-b62m3t-container {
          position: relative; }
          .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .css-b62m3t-container > span:first-child {
            position: relative;
            z-index: 3; }
          .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .css-b62m3t-container .css-1s2u09g-control {
            height: 44px;
            border: 1px solid #e1e9ec; }
            .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .css-b62m3t-container .css-1s2u09g-control:focus {
              height: 44px; }
          .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .css-b62m3t-container .css-2613qy-menu {
            z-index: 99 !important;
            position: relative; }
        .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .select-field {
          position: absolute;
          display: flex;
          align-items: center;
          width: auto;
          height: 38%;
          left: 11px;
          top: 50%;
          transform: translateY(-50%);
          background-color: transparent;
          z-index: 0; }
        .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .advance-search {
          padding: 8px 0px; }
          .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .advance-search span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            color: #fff;
            font-size: 12px;
            background: #d79800;
            margin-right: 4px; }
          .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .advance-search button {
            outline: none;
            border: none;
            border-bottom: 1px solid #00948c;
            font-size: 14px;
            color: #00948c;
            background: none;
            padding: 0;
            margin-right: 4px; }
          .header-search-mobile .search-mb-pop-up .search-mb-form .input-box .advance-search i {
            color: #00948c;
            font-size: 18px; }

.logo-responsive {
  display: none; }

/*# sourceMappingURL=header.css.map */
