@import 'varibale';

#header {
    &.sticky {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 99;
        animation: jump_sticky 0.4s forwards;

        .header-search-pages {
            -webkit-box-shadow: 0px 1px 10px 0px rgba(66, 66, 66, 0.4);
            box-shadow: 0px 1px 10px 0px rgba(66, 66, 66, 0.4);
        }

        @media only screen and (max-width: 886px) {
            & {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo-responsive {
                    display: flex;
                    order: 1;
                    padding-left: 15px;
                    img {
                        vertical-align: middle;
                    }
                }

                .header-main {
                    order: 2;
                    .logo {
                        display: none;
                    }
                }

                .header-search-mobile {
                    order: 1;
                    width: 80%;
                }
            }
        }
    }
}

@keyframes jump_sticky {
    0% {
        top: -80%;
        opacity: 0.6;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.header-main {
    background: #2b296d;
    border-bottom: 5px solid $primary_1;
    .logo {
        max-width: 140px;

        img {
            width: 100%;
            object-fit: cover;
            vertical-align: middle;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-left {
        display: flex;
        align-items: center;
        .main-menu {
            display: flex;
            align-items: center;

            li {
                margin-right: 30px;
                line-height: 28px;

                &.has-child {
                    position: relative;

                    a {
                        display: flex;
                        align-items: center;
                        &::after {
                            content: '\f107';
                            font-family: 'fontawesome';
                            display: block;
                            padding-left: 4px;
                        }
                    }

                    &:hover {
                        .drop-menu {
                            opacity: 1;
                            visibility: visible;
                            z-index: 99;
                        }
                    }

                    .drop-menu {
                        position: absolute;
                        width: 200px;
                        height: auto;
                        padding: 16px;
                        background: #fff;
                        z-index: -555;
                        opacity: 0;
                        visibility: hidden;

                        li {
                            line-height: 30px;
                            &:hover {
                                a {
                                    color: #fdb913;
                                }
                            }
                            a {
                                color: #2b296d;
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &.active {
                    a {
                        color: $primary_1;
                    }
                }

                &:hover {
                    a {
                        color: $primary_1;
                    }
                }
                &:last-child {
                    margin-right: unset;
                }
                a {
                    color: #fff;
                    transition: 0.25s;
                    font-size: 18px;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }

    .nav-right {
        .mobile-bars {
            display: none;
            align-items: center;

            button {
                border: none;
                outline: none;
                background: none;
                margin: 0;
                color: #fdb913;
                font-size: 17px;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 20px;
                    height: 18px;
                    object-fit: contain;
                }
            }
        }

        .respo-recont {
            .main-menu {
                display: none;
                li {
                    line-height: 28px;
                    &:hover {
                        a {
                            color: $primary_1;
                        }
                    }

                    &:first-child {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }

                    &.has-child {
                        position: relative;
                        a {
                            position: relative;
                        }
                        .drop-menu {
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height 0.25s ease-out;
                            li {
                                a {
                                    color: #16154e;
                                    &:hover {
                                        color: #fdb913;
                                    }
                                }
                            }

                            &.open {
                                margin-top: 0%;
                                opacity: 1;
                                visibility: visible;
                                transition: 0.25s;
                            }
                        }

                        .toggle_menu {
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            right: 6px;
                            top: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #16154e;
                            font-size: 17px;
                            transition: 0.25s;
                            transform-origin: (50%, 50%);

                            &.active {
                                transform: rotateZ(90deg);
                                color: #fdb913;
                            }
                        }
                    }

                    .close-nav {
                        border: none;
                        outline: none;
                        background: none;
                        margin: 0;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            object-fit: cover;
                        }
                    }

                    &:last-child {
                        margin-right: unset;
                    }
                    a,
                    button {
                        color: #fff;
                        transition: 0.25s;
                        font-size: 18px;
                        font-weight: 500;
                        text-decoration: none;
                        width: 100%;
                        display: block;
                        padding: 5px 5px 5px 17px;
                        border: none;
                        outline: none;
                        background: unset;
                        text-align: left;
                    }
                }
            }
        }
    }
}

.user-unauthorize-header {
    display: flex;
    align-items: center;

    li {
        &::before {
            content: '/';
            font-size: 14px;
            padding: 0px 4px;
            color: #fff;
        }
        a {
            color: #fff;
            font-size: 14px;
            transition: 0.25s;
            text-decoration: none;

            &:hover {
                color: $primary_1;
            }
        }

        &:first-child {
            &::before {
                display: none;
            }
        }
        &:last-child {
            display: none;
        }
    }
}

.user-authorize-header {
    display: flex;
    align-items: center;

    li {
        margin-right: 17px;
        position: relative;

        &:hover {
            .drop-down {
                display: block;
            }

            .drop-cart {
                display: block;
            }
        }
        &:last-child {
            margin-right: unset;
        }

        .drop-down {
            position: absolute;
            display: none;
            width: 335px;
            height: auto;
            padding: 16px;
            background: #fff;
            left: -220px;
            z-index: 99;
            border-radius: 6px;
            .media {
                align-items: center;
                img {
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 100%;
                }

                &-body {
                    .title {
                        color: #000000;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                    }

                    .email {
                        color: #277ff5;
                        font-size: 16px;
                        line-height: 24px;
                        width: 67%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .list-action {
                border-top: 1px solid #e1e9ec;
                padding-top: 12px;
                margin-top: 16px;
                ul {
                    li {
                        padding: 4px 8px 4px 0px;
                        margin: 0;
                        line-height: 1.5;

                        &.desktop-menu {
                            display: none;
                        }
                        &.responsive-menu {
                            display: flex;
                        }

                        .switch-link {
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: #9d9bc9;
                            border: none;
                            outline: none;
                            background: none;
                            transition: 0.25s;
                            position: relative;
                            padding: 0;
                            width: 100%;

                            &:hover {
                                color: #00a79e;
                                img {
                                    filter: invert(62%) sepia(74%) saturate(5300%) hue-rotate(146deg) brightness(93%) contrast(101%);
                                }
                            }

                            &.active {
                                color: #00a79e;
                                img {
                                    filter: invert(62%) sepia(74%) saturate(5300%) hue-rotate(146deg) brightness(93%) contrast(101%);
                                }
                            }

                            span {
                                padding-left: 4px;
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background: #fff;
                                z-index: 69;
                                opacity: 0;
                            }
                        }

                        &:last-child {
                            .switch-link {
                                color: #eb5757;

                                &::after {
                                    display: none;
                                }
                                &:hover {
                                    color: #00a79e;
                                    img {
                                        filter: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .drop-cart {
            font-size: 10px;
            width: 375px;
            border-radius: 6px;
            position: absolute;
            display: none;
            z-index: 99;
            background: #fff;
            left: -220px;
            &__title {
                font-size: 1.8em;
                font-weight: 500;
                color: #16154e;
                padding: 8px 16px;
                border-bottom: 1px solid #e1e9ec;
            }

            &__content {
                padding: 0px 16px;
                &--box {
                    padding: 12px 0px;
                    .title {
                        h5 {
                            color: #16154e;
                            font-weight: 500;
                            font-size: 14px;
                        }

                        ul {
                            display: flex;
                            align-items: center;

                            li {
                                font-weight: 500;
                                font-size: 12px;
                                color: #9d9bc9;
                                position: relative;
                                margin-right: 8px;
                                padding-left: 8px;

                                &:first-child {
                                    padding-left: unset;
                                }

                                &:last-child {
                                    margin-right: unset;
                                }

                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    width: 1px;
                                    height: 12px;
                                    transform: translateY(-50%);
                                    background: #e1e9ec;
                                }
                            }
                        }
                    }

                    .cart-box {
                        margin-top: 8px;
                        .row {
                            &.no-gutters {
                                margin-left: -8px;
                                margin-right: -8px;
                            }

                            &.no-gutters > .col,
                            &.no-gutters > [class*='col-'] {
                                padding-left: 8px;
                                padding-right: 8px;
                            }
                        }

                        &__images {
                            width: 100%;
                            position: relative;
                            overflow: hidden;
                            padding-top: 56.3%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                            }
                        }

                        &__info {
                            .title {
                                font-weight: 500;
                                font-size: 14px;
                                color: #16154e;
                            }

                            .price {
                                font-weight: 500;
                                font-size: 14px;
                                color: #16154e;
                            }

                            .area {
                                padding-top: 16px;
                                font-size: 14px;
                                color: #9d9bc9;
                            }

                            .cart-none {
                                font-size: 14px;
                                color: #9d9bc9;
                            }
                        }
                    }
                }
            }

            &__action {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 8px 16px;
                border-top: 1px solid #e1e9ec;
                .time {
                    position: relative;
                    font-size: 14px;
                    line-height: 20px;
                    color: #d79800;
                    display: flex;
                    align-items: center;
                    &::before {
                        content: '\f017';
                        font-family: 'fontawesome';
                        font-size: 16px;
                        color: #fdb913;
                        padding-right: 4px;
                    }
                }

                .btn-checkout {
                    width: max-content;
                    height: 28px;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 28px;
                    font-weight: 500;
                    font-size: 14px;
                    color: #fff;
                    background: #00a79e;
                    border-radius: 4px;

                    &.disable {
                        background: #bdc6d3;
                    }
                }
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            position: relative;
            background: #fffcf3;
            border-radius: 100%;

            img {
                object-fit: contain;
            }

            .noti {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background: $primary_1;
                font-weight: bold;
                font-size: 10px;
                background-color: #fdb913;
                color: $secondary;
                right: -10px;
                top: -8px;
            }
        }
    }
}

.header-search-pages {
    background-color: #fff;
    position: relative;
    z-index: 40;
    border: 1px solid #e8e8e8;
    .css-1okebmr-indicatorSeparator {
        display: none !important;
    }
    .css-b62m3t-container {
        transform: translateY(2px);
        font-size: 14px !important;
    }

    .css-14el2xx-placeholder {
        height: 36px;
        color: #16154e !important;
        font-size: 14px !important;
    }

    .css-1pahdxg-control {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        z-index: 999;
        & > div {
            border: none !important;
            outline: none !important;
        }
        input {
            outline: none !important;
        }
    }

    .css-14dclt2-Input {
        &::placeholder {
            height: 36px;
            color: #16154e;
            font-size: 14px;
        }
    }
    .css-1s2u09g-control {
        border: none;
        outline: none;
    }

    .search_header_search_form__5ppNZ {
        .form-row {
            margin-left: -6px;
            margin-right: -6px;
        }
    }
    &__select-box {
        padding-left: 6px;
        padding-right: 6px;
        position: relative;
        z-index: 999999;
        &:nth-child(1) {
            flex: 0 0 28%;
        }

        &:nth-child(2),
        &:nth-child(3) {
            flex: 0 0 15.16%;
        }

        &:nth-child(4) {
            flex: 0 0 6.15%;
        }

        &:nth-child(5) {
            flex: 0 0 16%;
        }

        &:nth-child(6) {
            flex: 0 0 19%;
        }
    }
}

.header-search-mobile {
    padding: 6px 0px;
    display: none;
    .btn-open-search-mb {
        width: 100%;
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #fdb913;
        outline: none;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 6px 8px;
        i {
            width: 15px;
            height: 15px;
            display: block;
            background-image: url('../../images/search-icon-mb.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        span {
            display: block;
            padding-left: 8px;
            color: #fdb913;
            font-size: 14px;
        }
    }

    .search-mb-pop-up {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 999999999999;
        overflow-y: auto;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 0px;

            button {
                border: none;
                outline: none;
                background: none;
                font-size: 20px;
            }

            span {
                font-size: 14px;
                color: #2b296d;
            }
        }

        .search-mb-form {
            margin-top: 16px;

            .input-box {
                position: relative;
                margin-bottom: 8px;

                &.slide-up,
                &.slide-down {
                    transform-origin: 100% 0%;
                    transform: rotateX(90deg);
                    transition: 0.25s;
                    padding: 0px;
                    max-height: 0;
                }

                &.slide-down {
                    transform: rotate(0);
                    max-height: 100%;
                }

                .advance-select {
                    margin-bottom: 8px;

                    &.has-bg {
                        background: rgba(242, 242, 242, 0.8);
                        backdrop-filter: blur(15px);
                        padding: 20px;
                    }

                    .filter-title {
                        font-weight: 500;
                        font-size: 14px;
                        color: #16154e;
                        margin-bottom: 20px;
                    }

                    .filter-utilities {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }

                &.has-stick {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    padding: 15px;
                    z-index: 999;

                    .actions {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                    }

                    button {
                        border: none;
                        outline: none;
                        height: 44px;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &.btn-reset-form {
                            border: 1px solid #e1e9ec;
                            width: 27.6%;
                            font-weight: 500;
                            font-size: 14px;
                            color: #9d9bc9;
                            background: #fff;
                        }

                        &.btn-submit {
                            width: 66.5%;
                            font-weight: 500;
                            font-size: 14px;
                            color: #fff;
                            background: #00a79e;
                        }
                    }
                }

                .form-control {
                    height: 44px;
                }

                .css-b62m3t-container {
                    position: relative;
                    & > span:first-child {
                        position: relative;
                        z-index: 3;
                    }

                    .css-1s2u09g-control {
                        height: 44px;
                        border: 1px solid #e1e9ec;

                        &:focus {
                            height: 44px;
                        }
                    }

                    .css-2613qy-menu {
                        z-index: 99 !important;
                        position: relative;
                    }
                }
                .select-field {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    width: auto;
                    height: 38%;
                    left: 11px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: transparent;
                    z-index: 0;
                }

                .advance-search {
                    padding: 8px 0px;
                    span {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        color: #fff;
                        font-size: 12px;
                        background: #d79800;
                        margin-right: 4px;
                    }

                    button {
                        outline: none;
                        border: none;
                        border-bottom: 1px solid #00948c;
                        font-size: 14px;
                        color: #00948c;
                        background: none;
                        padding: 0;
                        margin-right: 4px;
                    }

                    i {
                        color: #00948c;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.logo-responsive {
    display: none;
}
