html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
    font-family: "SFProdisplay" !important;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
    margin-bottom: unset !important;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

p {
    margin-bottom: unset;
}
@font-face {
    font-family: "SFProdisplay";
    src: url("../../fonts/FontsFree-Net-SFProDisplay-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "SFProdisplay";
    src: url("../../fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "SFProdisplay";
    src: url("../../fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
    font-weight: bold;
}

// ----------------- reset owl carouesl --------------------

.owl-carousel {
    .item {
        margin-bottom: 10px;
    }

    &.owl-theme .owl-nav [class*="owl-"]:hover {
        background: unset;
    }

    &.owl-theme .owl-dots .owl-dot {
        outline: none;
        &.active span {
            background-color: #343a40;
        }
        span {
            margin: 5px 5px;
            background: #ffffff;

            &:hover {
                background-color: #343a40;
            }
        }
    }

    &:hover .owl-nav {
        opacity: 1;
        visibility: visible;
    }
    .owl-nav {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        margin-top: unset;
        @media only screen and (max-width: 768px) {
            & {
                opacity: 1;
                visibility: visible;
            }
        }
        button {
            background-color: none;
            border: none;
            outline: none;
            font-size: 50px;
            z-index: 4;

            &.owl-prev {
                position: absolute;
                top: 50%;
                left: -25px;
                font-size: 50px;
                transform: translateY(-50%);
                @media only screen and (max-width: 768px) {
                    & {
                        left: -20px;
                    }
                }
            }

            &.owl-next {
                position: absolute;
                top: 50%;
                right: -25px;
                font-size: 50px;
                transform: translateY(-50%);
                @media only screen and (max-width: 768px) {
                    & {
                        right: -20px;
                    }
                }
            }
        }
    }
}
