@media only screen and (max-width: 1700px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 886px) {
    #header {
        border-bottom: 5px solid #fdb913;
        background: #2b296d;
    }

    .header-main {
        border: unset;
        .nav-left {
            margin-left: 0;
            .main-menu {
                display: none;
            }
        }

        .nav-right {
            .mobile-bars {
                display: flex;
            }

            .respo-recont {
                position: fixed;
                width: 300px;
                height: 100%;
                top: 0;
                right: -300px;
                background: #fff;
                transition: 0.25s;
                z-index: 100000000;
                &.active {
                    right: 0;
                }

                .main-menu {
                    display: block;
                    li {
                        border-bottom: 1px solid #e1e9ec;
                        &.close-li {
                            position: absolute;
                            top: 0;
                            right: 0;
                            border: none;
                            outline: none;
                        }
                        a,
                        button {
                            color: #16154e;
                        }
                    }
                }

                .user-authorize-header {
                    display: block;
                    li {
                        &:nth-child(1),
                        &:nth-child(2) {
                            display: none;
                        }

                        &:nth-child(3) {
                            a {
                                display: none;
                            }

                            .drop-down {
                                position: static;
                                width: 100%;
                                left: 0;
                                display: block;
                                li {
                                    &:nth-child(1),
                                    &:nth-child(2) {
                                        display: flex;
                                    }

                                    &.desktop-menu {
                                        display: none;
                                    }

                                    &:last-child {
                                        display: none;
                                    }
                                }
                                a {
                                    display: flex;
                                }
                            }
                        }
                    }
                }

                .user-unauthorize-header {
                    display: block;
                    li {
                        display: none;

                        &:last-child {
                            display: block;

                            .media {
                                align-items: center;
                                padding: 5px 5px 5px 17px;

                                img {
                                    width: 60px;
                                    height: 60px;
                                    object-fit: cover;
                                    border-radius: 100%;
                                }

                                &-body {
                                    h4 {
                                        font-weight: 500;
                                        font-size: 14px;
                                        color: #16154e;
                                    }

                                    a {
                                        border: none;
                                        outline: none;
                                        font-weight: 500;
                                        font-size: 12px;
                                        color: #277ff5;
                                        background: unset;
                                        margin: 0;
                                        padding: 3.5px 0px 0px 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .overlay {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.671);
                z-index: 99999;
                display: none;

                &.active {
                    display: block;
                }
            }
        }
    }

    .user-authorize-header {
        display: none;
    }

    .home-utilities {
        .row {
            display: none;
        }

        .home-utilities-slider {
            display: block;
        }
    }

    .homepages-search {
        #search_header_search_advanced__VvhAP {
            .search_header_search_advanced_col__1G5q4 {
                padding-bottom: 12px;
            }
        }
    }

    .header-search-pages {
        display: none;
    }

    .header-search-mobile {
        display: block;
    }
    .login-content {
        .authen-images {
            height: 100%;
            img {
                height: 100%;
            }
        }

        .login-box {
            padding: 10px;
        }
    }

    .footer {
        &-body {
            .col-12 {
                margin-top: 12px;
            }
        }
    }
    .wishlist-box {
        &__images {
            flex: 0 0 100%;
        }

        &__info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0px 16px;
            flex: 0 0 100%;
            margin-top: 8px;

            .left-view {
                flex: 0 0 100%;
            }

            .right-view {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                padding-bottom: 15px;
                flex: 0 0 100%;
                &__furniture {
                    display: flex;
                    align-items: center;
                    padding-left: 0;
                    justify-content: space-between;
                }

                &__action {
                    margin-top: unset;
                    button {
                        .liked {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .user-profile {
        .col-user-l-3 {
            display: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .login-content {
        .row {
            .col-lg-5 {
                display: none;
            }
        }
    }

    .search-page-title {
        .title {
            width: 100%;
        }

        .sort {
            width: 100%;

            .select-search {
                width: 60% !important;
            }
        }
    }

    .blog-sidebar {
        &__list {
            &.desktop {
                display: none;
            }

            &.mobile {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .homepages-title {
        font-size: 45%;
        text-align: left;
        margin-bottom: 16px;
        .sub-title {
            padding-top: 8px;
        }
    }

    .search-page-title {
        .title {
            width: 100%;
        }

        .sort {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;

            .select-search {
                width: 60% !important;
            }

            .btn-filter-mb {
                display: flex;
            }
        }
    }

    .user-pages {
        height: auto;
    }
    .homepages-search {
        #search_header_search_advanced__VvhAP {
            .search_header_search_advanced_col__1G5q4 {
                padding-bottom: 12px;
            }
        }
        .header_search_home-pages {
            .row {
                .col-lg-4 {
                    .row {
                        .col-12 {
                            &:last-child {
                                .d-flex {
                                    margin-left: -8px;
                                    margin-right: -8px;
                                    width: 100%;
                                }
                                .flex-item {
                                    flex: 0 0 50%;
                                    padding-left: 8px;
                                    padding-right: 8px;
                                    width: 100%;
                                    white-space: nowrap;

                                    span {
                                        border-bottom: unset !important;
                                    }

                                    &:first-child {
                                        button {
                                            width: 100%;
                                            height: 44px;
                                            margin: 0;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            border: 1px solid #e1e9ec;
                                            border-radius: 4px;
                                        }
                                    }

                                    &:last-child {
                                        margin-left: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .wishlist-box {
        &__images {
            flex: 0 0 100%;
        }

        &__info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0px 16px;
            flex: 0 0 100%;
            margin-top: 8px;

            .left-view {
                flex: 0 0 100%;
            }

            .right-view {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                padding-bottom: 15px;
                flex: 0 0 100%;
                &__furniture {
                    display: flex;
                    align-items: center;
                    padding-left: 0;
                    justify-content: space-between;
                }

                &__action {
                    margin-top: unset;
                    button {
                        .liked {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .home-slider {
        .home-banner {
            padding-top: 56.26%;
        }
    }

    .home-product-slider__1 {
        padding: 16px 0px;

        .swiper-slide:nth-child(2n) {
            width: 60%;
        }

        .swiper-slide:nth-child(n) {
            width: 80%;
        }
    }

    .caring-area {
        padding: 16px 0px;
    }

    .discover {
        padding: 16px 0px;
        .swiper-slide:nth-child(2n) {
            width: 60%;
        }

        .swiper-slide:nth-child(n) {
            width: 80%;
        }
    }

    .logo-brand {
        padding: 16px 0px;
    }

    .home-blogs {
        padding: 16px 0px;
        .swiper-slide:nth-child(2n) {
            width: 60%;
        }

        .swiper-slide:nth-child(n) {
            width: 80%;
        }
    }

    .achievement {
        padding: 16px 0px;
        .media {
            font-size: 46%;
            padding: 8px;
        }
    }

    .login-content {
        .row {
            .col-lg-5 {
                display: none;
            }
        }
        .login-box {
            padding: 10px;

            .provider-login {
                .option-login {
                    flex-wrap: wrap;

                    &__providers {
                        .btn-provider {
                            width: 100%;
                        }
                        &:last-child {
                            margin-left: unset;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }

    .product-detail {
        &__basic {
            &--title {
                .review {
                    padding-top: 8px;
                }
            }
        }

        &__galerry {
            padding-top: 8px;
        }
    }

    .product-box {
        &__text {
            &--header {
                .title {
                    font-size: 14px;
                }
                .type {
                    display: none;
                }
            }

            &--body {
                display: none;
            }
        }
    }

    .blogs-box {
        &__text {
            &--description {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 43px;
            }
        }
    }

    .search_product_search_filter__2uYg1 {
        margin-bottom: unset;
    }

    .filter-search-side-bar {
        position: fixed;
        width: 255px;
        height: 100%;
        overflow-y: auto;
        right: -255px;
        top: 0;
        z-index: 999;
        .search_product_search_filter__2uYg1 {
            position: relative;
            z-index: 101;
        }
        &.active {
            right: 0;
        }
        #close-filter-mobile {
            display: block;
            font-size: 25px;
            z-index: 999;
        }
    }

    .user-list-order {
        .order-box {
            &__left {
                &--images {
                    display: none;
                }
                &--text {
                    padding-left: 0;
                    .room-info {
                        flex-wrap: wrap;

                        li {
                            &:first-child {
                                flex: 0 0 100%;
                                order: 3;
                            }
                        }
                    }
                }
            }

            &__right {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .time {
                    align-self: flex-end;
                }
            }
        }
    }

    .user-profile {
        &__info {
            padding: 15px;
        }
    }

    .user-list-order {
        .order-info {
            padding: 15px;
        }
    }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-height: 706px) and (min-width: 1200px) {
    .login-content {
        height: auto;
    }
}
