@media only screen and (max-width: 886px) {
  #header {
    border-bottom: 5px solid #fdb913;
    background: #2b296d; }

  .header-main {
    border: unset; }
    .header-main .nav-left {
      margin-left: 0; }
      .header-main .nav-left .main-menu {
        display: none; }
    .header-main .nav-right .mobile-bars {
      display: flex; }
    .header-main .nav-right .respo-recont {
      position: fixed;
      width: 300px;
      height: 100%;
      top: 0;
      right: -300px;
      background: #fff;
      transition: 0.25s;
      z-index: 100000000; }
      .header-main .nav-right .respo-recont.active {
        right: 0; }
      .header-main .nav-right .respo-recont .main-menu {
        display: block; }
        .header-main .nav-right .respo-recont .main-menu li {
          border-bottom: 1px solid #e1e9ec; }
          .header-main .nav-right .respo-recont .main-menu li.close-li {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            outline: none; }
          .header-main .nav-right .respo-recont .main-menu li a,
          .header-main .nav-right .respo-recont .main-menu li button {
            color: #16154e; }
      .header-main .nav-right .respo-recont .user-authorize-header {
        display: block; }
        .header-main .nav-right .respo-recont .user-authorize-header li:nth-child(1), .header-main .nav-right .respo-recont .user-authorize-header li:nth-child(2) {
          display: none; }
        .header-main .nav-right .respo-recont .user-authorize-header li:nth-child(3) a {
          display: none; }
        .header-main .nav-right .respo-recont .user-authorize-header li:nth-child(3) .drop-down {
          position: static;
          width: 100%;
          left: 0;
          display: block; }
          .header-main .nav-right .respo-recont .user-authorize-header li:nth-child(3) .drop-down li:nth-child(1), .header-main .nav-right .respo-recont .user-authorize-header li:nth-child(3) .drop-down li:nth-child(2) {
            display: flex; }
          .header-main .nav-right .respo-recont .user-authorize-header li:nth-child(3) .drop-down li.desktop-menu {
            display: none; }
          .header-main .nav-right .respo-recont .user-authorize-header li:nth-child(3) .drop-down li:last-child {
            display: none; }
          .header-main .nav-right .respo-recont .user-authorize-header li:nth-child(3) .drop-down a {
            display: flex; }
      .header-main .nav-right .respo-recont .user-unauthorize-header {
        display: block; }
        .header-main .nav-right .respo-recont .user-unauthorize-header li {
          display: none; }
          .header-main .nav-right .respo-recont .user-unauthorize-header li:last-child {
            display: block; }
            .header-main .nav-right .respo-recont .user-unauthorize-header li:last-child .media {
              align-items: center;
              padding: 5px 5px 5px 17px; }
              .header-main .nav-right .respo-recont .user-unauthorize-header li:last-child .media img {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 100%; }
              .header-main .nav-right .respo-recont .user-unauthorize-header li:last-child .media-body h4 {
                font-weight: 500;
                font-size: 14px;
                color: #16154e; }
              .header-main .nav-right .respo-recont .user-unauthorize-header li:last-child .media-body a {
                border: none;
                outline: none;
                font-weight: 500;
                font-size: 12px;
                color: #277ff5;
                background: unset;
                margin: 0;
                padding: 3.5px 0px 0px 0px; }
    .header-main .nav-right .overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.671);
      z-index: 99999;
      display: none; }
      .header-main .nav-right .overlay.active {
        display: block; }

  .user-authorize-header {
    display: none; }

  .home-utilities .row {
    display: none; }
  .home-utilities .home-utilities-slider {
    display: block; }

  .homepages-search #search_header_search_advanced__VvhAP .search_header_search_advanced_col__1G5q4 {
    padding-bottom: 12px; }

  .header-search-pages {
    display: none; }

  .header-search-mobile {
    display: block; }

  .login-content .authen-images {
    height: 100%; }
    .login-content .authen-images img {
      height: 100%; }
  .login-content .login-box {
    padding: 10px; }

  .footer-body .col-12 {
    margin-top: 12px; }

  .wishlist-box__images {
    flex: 0 0 100%; }
  .wishlist-box__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 16px;
    flex: 0 0 100%;
    margin-top: 8px; }
    .wishlist-box__info .left-view {
      flex: 0 0 100%; }
    .wishlist-box__info .right-view {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding-bottom: 15px;
      flex: 0 0 100%; }
      .wishlist-box__info .right-view__furniture {
        display: flex;
        align-items: center;
        padding-left: 0;
        justify-content: space-between; }
      .wishlist-box__info .right-view__action {
        margin-top: unset; }
        .wishlist-box__info .right-view__action button .liked {
          display: none; }

  .user-profile .col-user-l-3 {
    display: none; } }
@media only screen and (max-width: 768px) {
  .login-content .row .col-lg-5 {
    display: none; }

  .search-page-title .title {
    width: 100%; }
  .search-page-title .sort {
    width: 100%; }
    .search-page-title .sort .select-search {
      width: 60% !important; }

  .blog-sidebar__list.desktop {
    display: none; }
  .blog-sidebar__list.mobile {
    display: block; } }
@media only screen and (max-width: 576px) {
  .homepages-title {
    font-size: 45%;
    text-align: left;
    margin-bottom: 16px; }
    .homepages-title .sub-title {
      padding-top: 8px; }

  .search-page-title .title {
    width: 100%; }
  .search-page-title .sort {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px; }
    .search-page-title .sort .select-search {
      width: 60% !important; }
    .search-page-title .sort .btn-filter-mb {
      display: flex; }

  .user-pages {
    height: auto; }

  .homepages-search #search_header_search_advanced__VvhAP .search_header_search_advanced_col__1G5q4 {
    padding-bottom: 12px; }
  .homepages-search .header_search_home-pages .row .col-lg-4 .row .col-12:last-child .d-flex {
    margin-left: -8px;
    margin-right: -8px;
    width: 100%; }
  .homepages-search .header_search_home-pages .row .col-lg-4 .row .col-12:last-child .flex-item {
    flex: 0 0 50%;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    white-space: nowrap; }
    .homepages-search .header_search_home-pages .row .col-lg-4 .row .col-12:last-child .flex-item span {
      border-bottom: unset !important; }
    .homepages-search .header_search_home-pages .row .col-lg-4 .row .col-12:last-child .flex-item:first-child button {
      width: 100%;
      height: 44px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #e1e9ec;
      border-radius: 4px; }
    .homepages-search .header_search_home-pages .row .col-lg-4 .row .col-12:last-child .flex-item:last-child {
      margin-left: unset; }

  .wishlist-box__images {
    flex: 0 0 100%; }
  .wishlist-box__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 16px;
    flex: 0 0 100%;
    margin-top: 8px; }
    .wishlist-box__info .left-view {
      flex: 0 0 100%; }
    .wishlist-box__info .right-view {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding-bottom: 15px;
      flex: 0 0 100%; }
      .wishlist-box__info .right-view__furniture {
        display: flex;
        align-items: center;
        padding-left: 0;
        justify-content: space-between; }
      .wishlist-box__info .right-view__action {
        margin-top: unset; }
        .wishlist-box__info .right-view__action button .liked {
          display: none; }

  .home-slider .home-banner {
    padding-top: 56.26%; }

  .home-product-slider__1 {
    padding: 16px 0px; }
    .home-product-slider__1 .swiper-slide:nth-child(2n) {
      width: 60%; }
    .home-product-slider__1 .swiper-slide:nth-child(n) {
      width: 80%; }

  .caring-area {
    padding: 16px 0px; }

  .discover {
    padding: 16px 0px; }
    .discover .swiper-slide:nth-child(2n) {
      width: 60%; }
    .discover .swiper-slide:nth-child(n) {
      width: 80%; }

  .logo-brand {
    padding: 16px 0px; }

  .home-blogs {
    padding: 16px 0px; }
    .home-blogs .swiper-slide:nth-child(2n) {
      width: 60%; }
    .home-blogs .swiper-slide:nth-child(n) {
      width: 80%; }

  .achievement {
    padding: 16px 0px; }
    .achievement .media {
      font-size: 46%;
      padding: 8px; }

  .login-content .row .col-lg-5 {
    display: none; }
  .login-content .login-box {
    padding: 10px; }
    .login-content .login-box .provider-login .option-login {
      flex-wrap: wrap; }
      .login-content .login-box .provider-login .option-login__providers .btn-provider {
        width: 100%; }
      .login-content .login-box .provider-login .option-login__providers:last-child {
        margin-left: unset;
        margin-top: 8px; }

  .product-detail__basic--title .review {
    padding-top: 8px; }
  .product-detail__galerry {
    padding-top: 8px; }

  .product-box__text--header .title {
    font-size: 14px; }
  .product-box__text--header .type {
    display: none; }
  .product-box__text--body {
    display: none; }

  .blogs-box__text--description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 43px; }

  .search_product_search_filter__2uYg1 {
    margin-bottom: unset; }

  .filter-search-side-bar {
    position: fixed;
    width: 255px;
    height: 100%;
    overflow-y: auto;
    right: -255px;
    top: 0;
    z-index: 999; }
    .filter-search-side-bar .search_product_search_filter__2uYg1 {
      position: relative;
      z-index: 101; }
    .filter-search-side-bar.active {
      right: 0; }
    .filter-search-side-bar #close-filter-mobile {
      display: block;
      font-size: 25px;
      z-index: 999; }

  .user-list-order .order-box__left--images {
    display: none; }
  .user-list-order .order-box__left--text {
    padding-left: 0; }
    .user-list-order .order-box__left--text .room-info {
      flex-wrap: wrap; }
      .user-list-order .order-box__left--text .room-info li:first-child {
        flex: 0 0 100%;
        order: 3; }
  .user-list-order .order-box__right {
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .user-list-order .order-box__right .time {
      align-self: flex-end; }

  .user-profile__info {
    padding: 15px; }

  .user-list-order .order-info {
    padding: 15px; } }
@media only screen and (max-height: 706px) and (min-width: 1200px) {
  .login-content {
    height: auto; } }

/*# sourceMappingURL=responsive.css.map */
